---
import Layout from "../layouts/Layout.astro";
import BaseHead from "../components/BaseHead.astro";
---

<Layout>
    <BaseHead title="Visi dan Misi PMII Komfakdish" description="Halaman visi dan misi PMII Komfakdish - Website resmi PMII Komfakdish" meta name="og:image" content="https://pmiikomfakdish.or.id/assets/images/Foto-Depan-PMIKOMFAKDISH.jpg" 
    meta name="og:twitter" content="https://pmiikomfakdish.or.id/assets/images/Foto-Depan-PMIKOMFAKDISH.jpg"/>
    <div class="max-w-4xl text-black dark:text-white mx-auto px-10 py-10">
        <h1 class="text-3xl font-bold mb-6 mt-10 text-center">Visi dan Misi</h1>
        <h2 class="text-2xl font-semibold mb-4">Visi</h2>
        <p class="mb-6">Menjadi organisasi yang berperan aktif dalam pengembangan sumber daya manusia yang berintegritas, profesional, dan berdaya saing tinggi.</p>
        <h2 class="text-2xl font-semibold mb-4">Misi</h2>
        <ul class="list-disc list-inside mb-10">
            <li>Meningkatkan kualitas pendidikan dan pelatihan anggota.</li>
            <li>Memberdayakan anggota untuk berkontribusi dalam masyarakat.</li>
            <li>Menjalin kerjasama dengan berbagai pihak untuk mencapai tujuan bersama.</li>
        </ul>
    </div>
</Layout>
